<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      th:replace="~{ base :: layout(~{::title} , ~{::section} ) }">
<head>
    <meta charset="UTF-8">
    <title>Product Management</title>
</head>
<body>
<section>
    <div class="container mt-4">
        <h2 class="mb-4">Product List</h2>

        <!-- For displaying the success message if it exists -->
        <th:block th:if="${session.msg}">
            <p class="fs-5 text-center text-success">[[${session.msg}]]</p>
            <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
        </th:block>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Place</th>
                <th>Warranty</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${productsList}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.type}"></td>
                <td th:text="${product.place}"></td>
                <td th:text="${product.warranty}"></td>
                <td>
                    <a th:href="@{'editProduct/'+ ${product.id}}" style="display: inline-block; margin-right: 10px;">
                        <button>Edit</button>
                    </a>
                    <a th:href="@{'deleteProduct/'+ ${product.id}}" style="display: inline-block; margin-right: 10px;">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>